{{#extend "stylesheets"}}{{/extend}}
{{#extend "scripts"}}
<script>
</script>
{{/extend}}

<div class="container">
  <div class="row">
    <div class="span12">
      {{#if user}}
        <a class="btn btn-large btn-block btn-warning" href="/logout">Logout</a>
        <a class="btn btn-large btn-block btn-primary" href="/api/users">/api/users</a>
        <a class="btn btn-large btn-block btn-primary" href="/users">/users</a>
        <a class="btn btn-large btn-block btn-successful" href="/sink">/sink</a>
      {{else}}
        <a class="btn btn-large btn-block btn-info" href="/auth/facebook">Login with Facebook</a>
      {{/if}}
    </div>
  </div>

  <br/>

  <!-- <div class="row">
    <div class="span4">
      <a class="btn btn-large btn-block btn-success">Login with Google</a>
    </div>
  </div> -->
  <div class="row">
    <div class="span6">
      <h3>user</h3>
      <pre>{{json user}}</pre>
    </div>
    <div class="span6">
      <h3>session</h3>
      <pre>{{json session}}</pre>
    </div>
  </div>
</div>