<!doctype html>

<head>
  <title>{{title}}</title>

  <link rel='stylesheet' href='/flat/css/bootstrap.css'>
  <link rel='stylesheet' href='/flat/css/flat-ui.css'>
  <link rel='stylesheet' href='/css/style.css'>

  {{{block "stylesheets"}}}
</head>

<body>
  <div class="container">
    <a href="/"><h3>Social Connections</h3></a>
  </div>

  {{{body}}}

  <script src="/angular/angular.min.js"></script>
  <script src="/flat/js/jquery-1.8.2.min.js"></script>
  <script src="/flat/js/jquery-ui-1.10.0.custom.min.js"></script>
  <script src="/flat/js/jquery.dropkick-1.0.0.js"></script>
  <script src="/flat/js/custom_checkbox_and_radio.js"></script>
  <script src="/flat/js/custom_radio.js"></script>
  <script src="/flat/js/jquery.tagsinput.js"></script>
  <script src="/flat/js/bootstrap-tooltip.js"></script>
  <script src="/flat/js/jquery.placeholder.js"></script>
  <script src="/flat/js/application.js"></script>
  {{{block "scripts"}}}
</body>

</html>